/* body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.background{
    background-image: url("..\\graphics\\common\\backdrop.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Footer styling */
footer {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    background: none; /* Remove background */
}

footer p {
    font-size: 16px;
    color: rgb(202, 109, 125); /* Red color for text */
    margin: 0;
}

footer a {
    color: red; /* Red color for link */
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
