::-webkit-scrollbar {
    width: 0px;
  }
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.background{
    background-image: url("..\\graphics\\common\\backdrop.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Heading styling */
#header{
    position: sticky;
    top: 0;
    z-index: 10;
    margin-top: 20px;
}

#headingImg {
    width: auto;
    max-width: 100%;
    height: auto;
    
}

/* Body styling */
#body{
    padding: 20px;
}

/* Footer styling */
footer {
    margin: 20px;
    margin-bottom: 40px;
    text-align: center;
}

footer p {
    font-size: 16px;
    color: rgb(202, 109, 125);
    margin: 0;
}

footer a {
    color: rgb(214, 104, 104); 
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    body{        
    justify-content:start;
    }
}

.swal2-popup {
    border-radius: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    background-image: url('..\\graphics\\common\\popup.png');
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 0 0.4rem rgba(38, 143, 255, 0.25);
}

.swal2-image {
    border-radius: 20px !important;
}

.swal2-confirm {
    border-radius: 30px !important;
    padding: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    background-color: #007bffe8;
    color: white;
}

.swal2-confirm:hover {
    background-color:#007bff !important;    
    border: 2px solid #007bff !important;
}

.swal2-cancel {
    border-radius: 30px !important;
    padding: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    background-color: #f78d58d1;
    color: white;
}

.swal2-cancel:hover {
    background-color:#f78d58 !important;    
    border: 2px solid #f78d58 !important;
}

.swal2-backdrop-show {
    background: rgba(157, 195, 237, 0.345) !important;
}

.full-screen {
    z-index: 11;
    display: none;
    justify-content: center; 
    align-items: center;    
    position: absolute;
    top: 0;
    left: 0;    
    height: 100%;         
    width: 100%;     
    overflow: hidden;
    background-color: rgba(157, 194, 237, 0.527) ;    
}

.full-screen img {
    max-width: 50%;         
    max-height: 50%;
}